extends layout

block content
  h1= title
  if !user
    p Welcome to #{title}
    a(href="/auth/google" class="btn btn-danger")
      span(class="fa fa-google-plus") Google Login
  else
    p welcome #{user.google.name}
    a(href="/auth/logout") Logout
